* {
    color: rgb(20, 20, 19);
    font-size: 18px;
   
}

#result {
    font-style: oblique;
    color: rgb(13, 30, 179);
    font-size: 26px;
}

.page-footer {
    text-align: center;
    background-color: bisque;
}
form{
     background-color: bisque;
}
label{
    color: rgb(0, 86, 136);
    font-size: 20px;
}

p{
    color:black;
    font-size: 20px;
}